<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar #searchBar [debounce]="1000" (ionInput)="handleInput($event)"
    (ionClear)="cancelInput($event)"></ion-searchbar>

  <div class="search__section" *ngIf="resultsMovie">
    <ion-spinner *ngIf="isLoadingData" class="search__spinner"></ion-spinner>
  </div>

  <div *ngIf="resultsMovie">
    <ion-list lines="none" *ngIf="resultsMovie.length>0">
      <ion-item *ngFor="let movie of resultsMovie" class="ion-text-capitalize" (click)="selectMovie(movie.id)">
        {{movie.title}}</ion-item>
    </ion-list>
  </div>

  <div *ngIf="resultsInStorage">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="6" *ngFor="let results of resultsInStorage">
          <ion-card>
            <img [src]="results.poster_path | imgUrl">
          </ion-card>

        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

  <!--   <ion-grid>
    <ion-row *ngIf="resultsMovie">
      <ion-col size="6">
        <ion-card>
          <ion-card-title>{{movie.title}}</ion-card-title>
          <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
          <img [src]="movie.poster_path | imgUrl" alt="">
          <ion-card-content>{{movie.adult}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!--   <ion-header>
    <ion-title>Peliculas</ion-title>
  </ion-header>
 -->
  <!--   <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>