<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MovieApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="toolbar__title" size="large" style="margin-bottom:1rem;">Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--     <swiper-slide class="slide-item">Slide 2</swiper-slide>
    <swiper-slide class="slide-item">Slide 3</swiper-slide> -->
  <div class="container">
    <h2 class="container__h2">Estrenos</h2>
    <app-slideshow-backdrop [movies]="movies"></app-slideshow-backdrop>

    <h2 class="container__h2">Proximamente</h2>
    <app-slideshow-backdrop [movies]="upcomingMovies"></app-slideshow-backdrop>

    <div class="" style="display:flex;align-items: center;">
      <h2 class="container__h2">Más Populares</h2>
      <ion-button [disabled]="pageCurrentTopRatedMovies===1" class="container__button"
        (click)="changetopRated('rest')"><ion-icon name="remove-outline"></ion-icon></ion-button>

      <ion-button [disabled]="pageCurrentTopRatedMovies===6" class="container__button"
        (click)="changetopRated('more')"><ion-icon name="add-outline"></ion-icon></ion-button>
    </div>

    <app-slideshow-doble [movies]="topRatedMovies"></app-slideshow-doble>

    <!--  <ng-container #containerDouble></ng-container> -->
    <!--   <app-explore-container name="Tab 1 page"></app-explore-container> -->
  </div>
</ion-content>

<ion-footer></ion-footer>