<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!--   <app-explore-container name="Tab 3 page"></app-explore-container> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let movie of generos | keyvalue">
        <ion-title class="" style="font-size:19.2px"> {{movie.key}}</ion-title>
       <app-slideshow-backdrop [movies]="movie.value | removeUnknow"></app-slideshow-backdrop>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>